:root{
    --indigo: rgba(68, 105, 228, 0.603);
    --pink: rgba(223, 64, 130, 0.603);
    --dark-blue: rgba(11, 16, 34, 0.603);
    --dark-shadow: rgb(23, 24, 24);
    --screen-green: #d9e8a5;
    --screen-blue: #a5c2e8;
    --light: #fff;
}

*{
    box-sizing: border-box;
}

body,
html{
    min-width: 100vw;
    min-height: 100vh;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mesa{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 700px;
    background: var(--pink);
    border: 1px solid var(--pink);
    box-shadow: 0px 0px 5px var(--pink)
}

.calculadora-wrapper{
    width: 500px;
    height: 620px;
    background: #3f51b5;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-row-gap: 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 0px var(--indigo);
    transition: all .5s;
    transform: rotateZ(-15deg);
    margin-right: 10em;
}

.calculadora-wrapper:hover{
    transform: rotateZ(0);
    margin-right: 0;
}

/*====================================
  Pantalla
=====================================*/
.pantalla{
    text-align: right;
    padding-left: 1em;
    padding-right: 1em;
    background: var(--screen-green);
    grid-column: 2 / span 10;
    grid-row: 2;
    display: flex;
    justify-content: space-between;
}

.pantalla input{
    text-align: right;
    background: transparent;
    border: none;
    width: 100%;
    padding: .6em;
    font-size: 1.6rem;
}

.pantalla button{
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 700;
    color: var(--pink);
    transition: all .5s;
}

.pantalla button:hover{
    transform: rotateZ(90deg);
}

/*====================================
 Teclas
=====================================*/
.teclas{
    grid-column: 2 / span 10;
    grid-row: 3 / span 9;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.copy{
    position: absolute;
    right: 1em;
    bottom: .0em;
    color: aliceblue;
    font-size: 1.3rem;
    font-weight: 100;
    text-align: center;
    grid-column: 1 / span 12;
    grid-row: 12;
    display: grid;
}
.copy span{
    font-style: italic;
}


.teclas button{
    color: #fff;
    font-size: 2rem;
    float: left;
    height: 100px;
    width: 100px;
    transition: all .3s;
    cursor: pointer;
    margin-top: .1em;
}

.teclas button:hover{
    color: var(--pink);
}

/*=================
  Operaciones
==================*/
.extras{
    grid-column: 10 / span 2;
    grid-row: 1 / span 11;
}

.extras button{
    background: var(--pink);
    border: 1px solid transparent;
    box-shadow: 1px 10px 2px var(--dark-shadow);
}
.extras button:hover{
    color: var(--light);
    box-shadow: 1px 0px 2px var(--dark-shadow);
    transform: translateY(4px);
}

.equal{
    background: var(--pink) !important;
}

.equal:hover{
    color: var(--light) !important;
}

/*========================
  Números
========================*/
.numeros{
    grid-column: 1 / span 9;
    grid-row: 1 / span 11;
}

.numeros button{
    background: var(--dark-blue);
    border: 1px solid transparent;
    box-shadow: 1px 10px 2px rgb(23, 24, 24);
}

.numeros button:hover{
    box-shadow: 1px 0px 2px rgb(23, 24, 24);
    transform: translateY(4px);
}