*{
    box-sizing: border-box;
}

body,
html{
    min-width: 100vw;
    min-height: 100vh;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mesa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 700px;
    background: beige;
    border: 1px solid rgba(223, 64, 130, 0.603);
    box-shadow: 0px 0px 5px rgba(223, 64, 130, 0.603)
}

.calculadora-wrapper{
    width: 500px;
    height: 600px;
    background: #3f51b5;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-row-gap: 40px;
    border-radius: 10px;
}

/*====================================
  Pantalla
=====================================*/
.pantalla{
    text-align: right;
    padding-left: 1em;
    padding-right: 1em;
    background: #d9e8a5;
    grid-column: 2 / span 10;
    grid-row: 2;
    display: flex;
    justify-content: space-between;
}

.pantalla input{
    text-align: right;
    background: transparent;
    border: none;
    width: 100%;
    padding: .6em;
    line-height: 3em;
}

.pantalla button{
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 700;
    color: rgb(230, 59, 59);
}

.pantalla button:hover{
    background: rgb(230, 59, 59);
    color: rgb(255, 255, 255);
}

/*====================================
 Teclas
=====================================*/
.teclas{
    grid-column: 2 / span 10;
    grid-row: 3 / span 9;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.copy{
    color: aliceblue;
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    grid-column: 1 / span 12;
    grid-row: 12;
    display: grid;
}


.teclas button{
    color: #fff;
    font-size: 1.3rem;
    float: left;
    height: 100px;
    width: 100px;
    transition: all .3s;
    cursor: pointer;
}

.teclas button:hover{
    background: rgba(213, 218, 236, 0.603);
}

/*=================
  Operaciones
==================*/
.extras{
    grid-column: 10 / span 2;
    grid-row: 1 / span 11;
}

.extras button{
    background: rgba(68, 105, 228, 0.603);
    border: 1px solid transparent;
}
.extras button:hover{
    background: rgba(223, 64, 130, 0.603);
}

/*========================
  Números
========================*/
.numeros{
    grid-column: 1 / span 9;
    grid-row: 1 / span 11;
}

.numeros button{
    background: rgba(11, 16, 34, 0.603);
    border: 1px solid transparent;
    box-shadow: 0px 0px 3px rgba(236, 231, 231, 0.527);
}

.equal{
    background: rgba(223, 64, 130, 0.603) !important;
}

.equal:hover{
    background: rgba(218, 168, 188, 0.603) !important;
}

.mr-100{
    margin-right: 100%;
}